/*默认样式*/

@import "../var.scss";

body {

    font-size: $font-size;
    font-family: $font-family;
    line-height: $line-height;
    background: $body-bg;
    color: $body-color;
}



img {
    display: inline-block;
}


ul {
    list-style: none;
}


a,
a:link,
a:active {
    text-decoration: none;
    color:$a-color;
}


